<% content_for(:title) do %>
  Waktu Solat dan Imsak bagi kawasan <%= @location["location"] %>, <%= @location["state"] %>
<% end %>

<% content_for :description do %>
  Jadual waktu solat bagi kawasan <%= @location["location"] %>, <%= @location["state"] %> dan kawasan² yang sewaktu dengannya.
  Waktu imsak dan berbuka puasa bagi kawasan <%= @location["location"] %>, <%= @location["state"] %>.
  Muat turun jadual waktu solat dan jadual waktu berbuka puasa bagi kawasan <%= @location["location"] %>,<%= @location["state"] %> dan kawasan² yang sewaktu dengannya.
<% end %>

<% content_for :ogdescription do %>
  <%= "#{@location["location"]}, #{@location["state"]}, #{l @today["date"].to_date, format: :extra} bersamaan dengan #{hijri_date @today["hijri"]} H -- " %>
  <% prayers.each do |prayer| %>
    <%= " #{prayer[:label]} :- #{l @today[prayer[:key]].to_time, format: "%I:%M%p "}" %>
  <% end %>
<% end %>

<% content_for :hero do %>
  <div id="main" class="bg-no-repeat bg-cover bg-fixed bg-center min-h-svh w-full pb-24 md:pb-8">
    <%= render "daily" %>
  </div>
<% end %>

<% content_for :modal do %>
  <%= render "filter" %>
<% end %>
