<title><%= content_for(:title) || "Waktu Solat | My Solat | Portal e-Solat" %></title>
<meta http-equiv="content-language" content="ms">
<meta name="googlebot" content="notranslate">
<meta name="robots" content="index, follow">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=1, shrink-to-fit=no, viewport-fit=cover">
<meta name="description" content="<%= content_for(:description) %>, Waktu Solat di malaysia">
<meta property="og:description" content="<%= content_for(:ogdescription) || content_for(:description) %>">
<meta property="og:title" content="<%= content_for(:title) %>, Waktu Solat | My Solat | Portal e-Solat">
<meta name="keywords" content="Waktu solat, waktu solat malaysia, e-solat, jakim, solat.my, waktu.solat.my, waktu sembahyang, waktu syuruk, data waktu solat, waktu solat jakim, api waktu solat, takwim solat, Takwim Solat, API Waktu Solat zohor, asar, maghrib, isyak, imsak, syuruk, dhuha">
<meta name="aAuthor" content="solat.my">
<meta name="copyright" content="solat.my <%= Date.current.year %>">
<meta name="classification" content="Social, Religion, Islam, Malaysia">
<meta name="rating" content="General">
<meta name="language" content="Malay">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" href="/icon.png" type="image/png">
<link rel="icon" href="/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/icon.png">
<%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= action_cable_meta_tag %>
<!-- Includes all stylesheet files in app/views/stylesheets -->
<%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
<%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= yield :head %>
