<!DOCTYPE html>
<html class="scrollable-area scrollbar-rounded scroll-smooth md:scroll-auto" lang="ms">
  <head>
    <%= render "layouts/head" %>
  </head>
  <body class="text-base-content" data-controller="application theme service-worker geolocation">
    <div class="absolute inset-0 h-96 pt-16 box-content -z-1 w-full md:pl-24">
      <%= image_tag random_bg, class: "absolute inset-0 w-full h-screen bg-top bg-cover object-cover object-[85%_15%] opacity-90 max-w-full ", alt: "" %>
      <div class="absolute inset-0 bg-gradient-to-t from-base-100 to-transparent w-full h-screen" aria-hidden="true"></div>
    </div>
    <div class="drawer md:pl-24">
      <input id="drawer" class="drawer-toggle" type="checkbox" />
      <div class="drawer-content">
        <%= render "layouts/header" %>
        <% if content_for?(:hero) %>
          <%= yield :hero %>
        <% end %>
        <section id="pages" class="flex flex-col">
          <%= yield %>
        </section>
        <% if content_for?(:modal) %>
          <input id="filter-modal" class="modal-toggle" type="checkbox" />
          <div class="modal">
            <div class="modal-box h-svh w-screen max-w-screen p-0" data-controller="filter">
              <%= yield :modal %>
              <div class="modal-action"></div>
            </div>
          </div>
        <% end %>

      </div>
      <%= render "layouts/sidebar" %>
      <%= render "layouts/analytics" %>
    </div>
    <%= render "layouts/dock" %>
  </body>
</html>
